<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<footer class="bg-dark text-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Foodism</h5>
                <p>Created by: Muhammed Suhaib</p>
                <p>&copy; 2023 Foodism. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <h5>Follow Me</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/muhammed-suhaib-176570246/"><img id="iconimg" src="https://shorturl.at/dGJQ8" alt="LinkedIn"></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/Suhaibvms"><img id="iconimg" src="https://shorturl.at/sxIQ2" alt="Twitter"></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/vmdsuhaib/"><img id="iconimg" src="https://shorturl.at/asACL" alt="Instagram"></a></li>
                    <li class="list-inline-item"><a href="https://github.com/suhaib-md"><img id="iconimg" src="https://shorturl.at/fhlFX" alt="Github"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
